{% extends 'base.html' %}
{% block content %}

<h1>Home</h1>
<div class="col s6">
{% if user.is_authenticated %}
    <h4>Select Your State</h4>
    <form method="POST" action="{% url 'add_state' %}">
        {% csrf_token %}
        {{ state_form.as_p }}
        <input type="submit" class="btn" value="Add State">
    </form>
{% endif %}
</div>

<div id='map-container'>
    <div id='map'></div>
</div>

<table>
    <tr>
        <th>State</th>
        <th>Confirmed</th>
        <th>Death</th>
    </tr>
    {% for state in states %}
        <tr>
            <td>{{ state.name }}</td>
            <td>{{ state.confirmed }}</td>
            <td>{{ state.death }}</td>
        </tr>
    {% endfor %}
</table>

<script
      src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}&callback=initMap&v=weekly"
      async
></script>
<script>
    let map;
    let infoWindow = new google.maps.InfoWindow();

    function initMap() {
        map = new google.maps.Map(document.getElementById("map"), {
            center: { lat: 40, lng: -97 },
            zoom: 4,
            minZoom:2,
            maxZoom:7,
        });
    }
</script>

{% endblock %}